.user-view-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.user-view-container--info {
  flex: 1;
}
.user-view--avatar {
  --size: 140px;
  width: var(--size);
  height: var(--size);
  transition: 0.2s;
  -webkit-mask: radial-gradient(closest-side at center, black 70%, transparent);
  mask: radial-gradient(closest-side at center, black 70%, transparent);
}
.user-view--avatar--updated {
  background-color: rgba(0, 182, 0, 0.15);
}
.user-view--avatar--updated > img {
  opacity: 0.5;
}
.user-view--login {
  font-size: 2rem;
}
.user-view--passwords {
  justify-content: space-between;
  width: 100%;
}
.user-view--passwords input {
  flex: 1;
}
.user-view-container input::placeholder {
  color: #ffe95e;
}
.user-view--controls {
  flex: 1;
}
