:root {
  --card-transform: rotate(-360deg);
}

.card {
  display: block;
  border-radius: 6%;
  transition: 0.5s ease;
  user-select: none;
  background-size: cover;
  background-position: center;

  background-color: rgb(14, 108, 231);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
}

.card > .front {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Amatic SC', cursive;
  background: #3475d3;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card > .front.common {
  background: #3475d3;
}
.card > .front.rare {
  background: #da54e3;
}
.card > .front.legend {
  background: #fbff00;
  color: black;
}

.card > .front .name {
  width: 90%;
  height: 25%;
  position: absolute;
  bottom: 0;
}

.card > .front .avatar {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 5%;
  background-size: cover;
  background-position: center;
  -webkit-mask: radial-gradient(closest-side at center, black 70%, transparent);
  mask: radial-gradient(closest-side at center, black 70%, transparent);
}

.card > .front > .stat {
  position: absolute;
  width: 18%;
  border-radius: 50%;
  border: 0.1em solid #090959;
  color: white;
}
.card > .front > .stat:after {
  content: '';
  display: block;
  padding-bottom: 100%;
}
.card > .front > .stat > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.card > .front > .stat.hp {
  bottom: 30%;
  left: 10%;
  background: #5c8ef9;
}
.card > .front > .stat.damage {
  top: 40%;
  left: 10%;
  background: #bb3737;
}
.card > .front > .stat.cost {
  top: 10%;
  left: 10%;
  background: #a314ed;
}
.card > .front > .stat.type {
  top: 26%;
  left: 11%;
  border: none;
}
.card > .front > .stat.type .defence {
  color: cyan;
}
.card > .front > .stat.type .attack {
  color: #673b3b;
}

.card .cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.active:hover {
  cursor: pointer;
}

.card.floating {
  top: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  z-index: 9999;
  transition: opacity 0.2s ease-in-out;
  opacity: 0.8;

  --floating-card-width: 8rem;
  width: var(--floating-card-width);
  height: calc(var(--floating-card-width) * 1.6);
}

.card.back {
  background-image: url('@/assets/cards/back.png');
}
