.acrylic {
  position: relative;
  border-radius: var(--acrylic-border-radius);
}
.acrylic-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  border-radius: var(--acrylic-border-radius);
  transition: none;
}
.acrylic--blur {
  filter: blur(10px);
}
.acrylic--noise {
  background-image: var(--noise-image);
}
.acrylic--content {
  position: relative;
}
.anti-acrylic-cursor {
  --size: 100px;
  top: 0;
  left: 0;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: var(--main-bg);
  transition: none;
  pointer-events: none;
  opacity: 0;
  -webkit-mask: radial-gradient(closest-side at center, black, transparent);
  mask: radial-gradient(closest-side at center, black, transparent);
}
