.timer {
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  position: fixed;
  font-size: 2.5rem;
  padding-right: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.timer.opponent {
  color: white;
}
.timer--border {
  border-radius: 0 0 100px 0;
}
.timer.danger {
  color: #ff2929;
}
.timer--content {
  transition: none;
}
