.player-stats {
  position: fixed;
  user-select: none;
  z-index: 4;
}
.player-stats--content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.player-stats.my {
  bottom: 0;
  width: 400px;
  height: 100px;
}
.player-stats.opponent {
  top: 0;
  width: 400px;
  height: 100px;
}

.player-stats-border-radius.my,
.player-stats.my .player-stats-border-radius {
  border-radius: 200px 200px 0 0 / 150px 150px 0 0;
}
.player-stats-border-radius.opponent,
.player-stats.opponent .player-stats-border-radius {
  border-radius: 0 0 200px 200px / 0 0 150px 150px;
}

.player-stats--avatar {
  border-radius: 50%;
  position: relative;
}
.player-stats.my .player-stats--avatar {
  margin-top: -20px;
  width: 120px;
  height: 120px;
}
.player-stats.opponent .player-stats--avatar {
  width: 120px;
  height: 120px;
}
.player-stats--avatar > img {
  pointer-events: none;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.player-stats--counter {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.3rem;
  border-radius: 50%;
}

.player-stats--counter.hp {
  background: radial-gradient(circle, #00fff280 0%, #00000000 80%);
}
.player-stats--counter.mana {
  background: radial-gradient(circle, #e537ff80 0%, #00000000 80%);
}

.player-stats.opponent .player-stats--counter {
  margin-top: -30px;
  color: white;
}

.player-stats--login {
  padding: 15px;
  width: max-content;
  background: radial-gradient(ellipse at center, rgb(253 17 17 / 78%) 30%, #00000000 70%);
  top: 90px;
  left: 250px;
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 2rem;
}
