@import url('fonts.css');

:root {
  --main-bg-image: url('@/assets/bg.jpg');
  --main-bg: var(--main-bg-image) no-repeat center/cover fixed;

  --noise-image: url('@/assets/noise.png');

  --acrylic-border-radius: 5px;
}

body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100vh;

  background: var(--main-bg);

  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
  font-family: 'Amatic SC', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1);
  outline-color: rgba(255, 255, 255, 0);
}

*:focus-visible {
  outline: 3px solid rgb(244 224 238);
}

.danger {
  color: #ff5b5b;
}

.full-size {
  width: 100%;
  height: 100%;
}

a {
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

input[type='text'],
input[type='password'] {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  border: none;
  background: rgba(164, 237, 252, 0.2);
  border-radius: 5px;
}
input[type='text']:focus-visible,
input[type='password']:focus-visible {
  border: none;
  outline: none;
  border-radius: 10px;
  background: radial-gradient(
    circle,
    rgba(164, 237, 252, 0.2) 0%,
    rgba(164, 237, 252, 0.2) 37%,
    rgba(168, 164, 252, 0.2) 54%
  );
}
input[type='text']::placeholder,
input[type='password']::placeholder {
  color: lightgrey;
}

.button {
  font-family: 'Amatic SC', cursive;
  color: white;
  padding: 5px;
  width: 100px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.button {
  background: rgba(44, 204, 204, 0.2);
}
.button.primary {
  background: rgba(44, 204, 204, 0.9);
  box-shadow: 0 0 10px rgba(11, 166, 180, 0.3);
}

.paper {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  border-radius: 3px;
  color: white;
}

.disabled {
  color: #ffffff7f;
}

.flex-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.flex-row-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.gap {
  width: 20px;
  height: 20px;
  display: inline-block;
}

.drawer {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
}
.drawer--showed {
  height: 100px;
  opacity: 1;
}
.drawer--hidden {
  height: 0;
  opacity: 0;
  font-size: 0;
}
