.turn-button {
  position: fixed;
  width: 200px;
  height: 100px;
  right: 50px;
  border-radius: 205px 205px 205px 205px / 50px 50px 50px 50px;
  transition: 0.2s ease-in-out;
  background: rgba(128, 128, 128, 0.5);
  bottom: 220px;
  cursor: pointer;
  border: 5px #ffd1ef solid;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  color: #fff;
  z-index: 1;
}

.turn-button:hover {
  background: rgba(128, 128, 128, 0.8);
}

.turn-button:active,
.turn-button:disabled {
  transform: rotateX(180deg);
  color: rgba(255, 255, 255, 0.2);
}

.turn-button:disabled {
  pointer-events: none;
}
