.deck {
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;

  transition: 0.5s ease;

  width: 100%;

  z-index: 3;
}
.deck.my {
  max-width: 700px;
  bottom: 50px;
}
.deck.opponent {
  max-width: 600px;
  top: 50px;
  transform: rotate(180deg);
}
