.game-table {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
  gap: 20px;
}

@keyframes dancing {
  from {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1.1);
  }
}

.game-table .loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: 0.3s;
  opacity: 1;
  animation: dancing infinite 0.6s;
}

.game-table .loading.hiding {
  opacity: 0;
}
