.image-chooser {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
}
.image-chooser--inherit {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}
.image-chooser--input {
  display: none;
}
.image-chooser--preview {
  transition: 0.2s;
  /*pointer-events: none;*/
}
.image-chooser--actor {
  background-image: url('@/assets/camera.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
  filter: blur(1px);
}
.image-chooser--actor:hover {
  opacity: 0.6;
}
