.board {
  width: 900px;
  height: 140px;
  padding: 15px;
  border: 2px solid rgba(0, 196, 255, 0.5);
  border-radius: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.board.my {
  border: 2px solid rgba(0, 196, 255, 0.5);
}
.board.opponent {
  border: 2px solid rgba(255, 0, 204, 0.5);
}
.board--card {
  --board-card-width: 93px;
  width: var(--board-card-width);
  height: calc(var(--board-card-width) * 1.6);
}
